* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
}

#wrapper {
  width: 80%;
  margin: 20px auto;
  position: relative;
}

#players {
  width: 50%;
  position: absolute;
}
.player {
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
}

#spotlight {
  width: 50%;
  position: absolute;
  margin-left: 50%;
  margin-top: 5px;
  height: 50px;
  border: 2px solid #bbb;
}
