* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
}

#wrapper {
  width: 80%;
  margin: 20px auto;
}

#players, #spotlight {
  float: left;
  width: 50%;
}

#players {
}
#players .player {
  margin: 5px 0;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

#spotlight {
  margin: 5px 0;
  padding-left: 20px;
}
#spotlight .player {
  background: #333;
  color: #fff;
  padding: 10px 15px;
}
#spotlight .record {
  background: #eee;
  padding: 5px 15px;
}
#spotlight .match {
  padding: 3px 0;
}
