* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
}

#wrapper {
}

#players, #spotlight {
  padding: 10px;
}

#players {
  position: absolute;
  width: 50%;
}
#players .player {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}
#players .player.active {
  background: #eee;
}

#spotlight {
  position: fixed;
  width: 50%;
  left: 50%;
}
#spotlight .player {
  background: #333;
  color: #fff;
  padding: 10px 15px;
}
#spotlight .record {
  background: #eee;
  padding: 5px 15px;
}
#spotlight .match {
  padding: 3px 0;
}
